<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center" >
        <br>
        <span class="color-letter " for="word">Course search</span>
        <div class="input-group">
         <input [(ngModel)]="word" (keyup)="searchCourses()" type="text" name="word" placeholder="Search courses and providers" class="form-control text-center">
         <span class="input-group-btn">
             <button class="btn btn-default" type="button">Go!</button>
         </span>
       </div>
         <label class="color-letter">Florida | Registered nurse Florida</label>
      </div>
    </div>
  </div>
</header>
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Featured courses</h1>
  <!-- Project One -->
  <div class="row" *ngFor="let principal of _CebrokerService.principalC">
    <div class="col-md-4 container-image">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0 scale-image"  src="https://storage.cebroker.com/CEBroker/{{principal.coursePublication.course.featuredBanner}}" alt="">
      </a>
    </div>

    <div class="col-md-8">
      <h3>{{principal.coursePublication.course.name}}</h3>
      <p>{{principal.coursePublication.course.provider.name}}</p>
      <p>{{principal.coursePublication.totalHours}} Hrs-Computer-Based Training</p>
      <hr>
      <a class="btn btn-success" href="#">$30.00</a>
    </div>
  </div>
</div>

<div class="container top-30">
  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item background-div"
    *ngFor="let course of _CebrokerService.courses">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/assets/img/CEbroker.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">  {{course.course.name}} </a>
            </h4>
            <p>{{course.course.provider.name}}</p>
            <p>{{course.totalHours}} Hrs - {{course.course.deliveryMethod.description}} </p>
            <a class="btn btn-success" href="#">${{course.price}}</a>
          </div>
        </div>
  </div>
  </div>
</div>
