<div class="container" style="min-height: 250px;">
            <br>
            <br>
              <br>


            <h1>
               How can we help you today?
            </h1>

<form action="/customer/portal/articles/search" method="get" id="support-search" class="support-search-big">

  <div class="outer">
    <div class="inner">
      <input type="text" id="q" name="q" maxlength="100" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
       <input type="hidden" name="b_id" value="14000">
      <div id="question-mask" class="question-big">Search for answers...</div>
      <input type="submit" id="support-search-submit" value="Search">
    </div>
  </div>
</form>

      </div>
